body {
	background: #fefefe;
}

h1 {
	color: darkgreen;
}


h2 {
	color: #1460AA;
}



.czerwony {
	color: red;
}

#Jest_git {
	background: yellow;
}



a {
	color: #fb18e8;
}

section a {
	color: orange;
}

.my-article {
	color: hotpink;
}

.praca_domowa {
	color: #fb18e8;
	background: black;

}

.zainteresowanie {
	background: #26d907;
}

.my-article p {
	background: #1460AA;
	color: white;
}

#name {
	color: red;
}

.about {
	color: #26d907;
}